@import "../styles/main.css";

body {
    background-image: url("../images/Coasta\ de\ Azur/Coasta_de_Azur_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

li:nth-child(3) {
    color: #000000;
}

.center-text--main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 90px;
    font-weight: bolder;

    text-align: center;

    -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
}

.footer__div {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}